body {
	font-family: 'Roboto', sans-serif;
	background: rgb(116,235,213);
	background: -moz-linear-gradient(90deg, rgba(116,235,213,1) 0%, rgba(159,172,230,1) 77%);
	background: -webkit-linear-gradient(90deg, rgba(116,235,213,1) 0%, rgba(159,172,230,1) 77%);
	background: linear-gradient(90deg, rgba(116,235,213,1) 0%, rgba(159,172,230,1) 77%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#74ebd5",endColorstr="#9face6",GradientType=1);
}

.titulo h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
}

.card img{
    width: 50%;
    margin-left: 25%;
}

.card-group{
margin-left: 20px;
margin-right: 20px;
margin-top: 0px;
margin-bottom: 0px;
}


.card-body h4{
    font-family: 'Caveat', serif;
	font-size: 30px;
	color: black;
    text-align: center;
}

.card-body h5{
    font-family: 'Caveat', serif;
    font-size: 25px;
    color: black;
    text-align: center;
}

.card-body p{
    font-family: 'Caveat', serif;
    font-size: 20px;
    color: black;
    text-align: center;
}

