* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

.body {
	height: 100%;
	font-family: Montserrat-Regular, sans-serif;
    background: rgb(116,235,213);
    background: -moz-linear-gradient(90deg, rgba(116,235,213,1) 0%, rgba(159,172,230,1) 77%);
    background: -webkit-linear-gradient(90deg, rgba(116,235,213,1) 0%, rgba(159,172,230,1) 77%);
    background: linear-gradient(90deg, rgba(116,235,213,1) 0%, rgba(159,172,230,1) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#74ebd5",endColorstr="#9face6",GradientType=1);
}
/* .container{
    width: 100%;
    min-height: 100%;
    padding: 15px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */