/* Card */

.logo{
    margin: 10px;

}

body {
	font-family: 'Roboto', sans-serif;
	background: rgb(116,235,213);
	background: -moz-linear-gradient(90deg, rgba(116,235,213,1) 0%, rgba(159,172,230,1) 77%);
	background: -webkit-linear-gradient(90deg, rgba(116,235,213,1) 0%, rgba(159,172,230,1) 77%);
	background: linear-gradient(90deg, rgba(116,235,213,1) 0%, rgba(159,172,230,1) 77%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#74ebd5",endColorstr="#9face6",GradientType=1);
}
.disponible h6{
    color: rgb(24, 207, 24);
}

.UltimasUnidades{
    color: red;
}
.boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

